@page "/fetchdata"
@using System.Net.Http
@using MFA.Shared
@using MFA.Shared.DTOs
@inject HttpClient Http


@if (loginResponse != null)
{
    <h1>Weather forecast for @loginResponse.UserDto.Email</h1>
}

<p>This component demonstrates fetching data from the server.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    WeatherForecast[] forecasts;
    LoginResponseDto loginResponse;

    LoginRequestDto loginRequest = new LoginRequestDto
    {
        Email = "test1@mail.com",
        Password = "123",
        Totp = "123"
    };

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetJsonAsync<WeatherForecast[]>("api/WeatherForecast");
        loginResponse = await Http.PostJsonAsync<LoginResponseDto>("api/Auth/Login", loginRequest);
    }

}
